html,
body {
	font-size: 100%;
	background: #ffffff;
	text-align: justify;
}
.resume .row:last-of-type{
	margin-bottom:40px
}
.row{
	width: 80%;
	margin:0 auto
}
.about-tit{
	font-size: 22px;
	margin:40px auto 20px
}
.clear {
	clear: both;
}
.row-title {
	    color: #ffffff;
    padding: 5px 41px 5px 30px;
    display: inline-block;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}
.info-block strong {
	color: #333333;
	font-size:16px;
}
.edu-list {
	padding: 10px 0;
	overflow: hidden;
}
.skill-list ul li{
	list-style-type:disc ;
	line-height: 32px;
}
.job-descrip{
	text-align: justify;
	border-bottom: 1px solid;
    padding-bottom: 20px;
}
@media (max-width: 768px) {
	.row{
		width: 100%;
	}
	.info-block p{
	font-size: 14px;
}
	.edu-list span{
		font-size: 14px;
	}
}