	html {
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	border: 0;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 14px;
	background: #fff;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #fd0202;
	cursor: pointer;
}

section {
	position: relative;
}

.no-padding {
	padding: 0;
}

a:focus {
	outline: 0;
}

ul,
li {
	list-style: none;
}


/* Typography
================================================== */

body,
p {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	background-color: #0C0A09;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}


/*网站*/

h2.heading-title {
	margin-bottom: 30px;
	font-weight: 700;
}

.website-list:hover .h4 {
	color: #fd0202;
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-toggle{
	margin-right: 5px;
	}

/*网站2018*/

#section-website,
#section-applet,
#section-official {
	background: #fff;
}


/*网站2017*/

#section-website-two,
#section-app {
	background: #f7f7f7;
}


/*弹出框*/


/*Global styles*/

.section-padding {
	padding: 60px 0px;
}

p {
	color: #929292;
	background-color: transparent;
}

.section-heading {
	width: 80%;
	margin: 0 auto;
}


/*Banner styles*/

.carousel .item img {
	width: 100%;
}


/*navbar-menu*/

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #fff;
}

.custom-navbar .navbar-toggle {
	background-color: transparent;
	border: none;
	padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #E3AE57;
	border-color: transparent;
}

.navbar-toggle {
	position: relative;
	float: right;
}

.section-menu {
	z-index: 9999;
}

.navbar-default .navbar-nav>li>a {
	font-weight: 400;
	padding: 14px 20px;
	font-size: 18px;
	font-family: 'Roboto', serif;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #fd0202;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #fd0202;
	background-color: transparent;
}

.navbar-brand img {
	float: left;
	margin-right: 20px;
	width: 60%;
	margin-top: 5px;
}

.navbar-brand {
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-brand span {
	color: #09C3E7;
}

.navbar.main-nav {
	background: #ffffff;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
	padding: 0;
}

.service-box {
	padding: 0px;
	padding: 1px 20px 0;
	border: dashed 1px #4A4A4A;
	margin-bottom: 21px;
}

.service-box h3 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	margin: 14px 0
}


/*section Footer*/

#section-footer {
	background: #131313;
	padding: 10px 0px;
	display: flex;
	align-items: center;
}

#section-footer h4 {
	color: #fff;
}

.swiper_banner .swiper-slide img {
	width: 100%;
	display: block;
}

.swiper-button-next,
.swiper-button-prev {
	outline: none;
}

#rtt .fa {
	width: 40px;
	height: 40px;
	background-size: cover;
	position: fixed;
	right: 4%;
	bottom: 10%;
	z-index: 99;
	display: none;
	cursor: pointer;
	font-size: 40px;
	color: #fff;
	background: #202020;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) and (max-width: 991px) {
	.banner-content {
		padding: 65px 0px;
	}
	h2.title {
		font-size: 40px;
		line-height: 40px;
	}
	.navbar-brand {
		padding-top: 10px;
	}
	.navbar-brand img {
		margin-right: 4px;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 15px 9px;
		font-size: 14px;
	}
}


/* Small Devices Potrait */

@media (max-width: 767px) {
	.carousel {
		height: 300px;
	}
	.carousel .item {
		height: 300px;
	}
	.carousel img {
		min-height: 300px;
	}
	.section-padding {
		padding: 20px 0px;
	}
	.swiper-button-next,
	.swiper-button-prev {
		background-image: none;
	}
	@media (min-width: 320px) and (max-width: 478px) {
		.navbar-default .navbar-nav>li>a {
			padding: 15px 20px;
		}
	}